<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="">
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">Infor2022</property> <!--contraseña de nuestra BBDD-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/biblioteca?serverTimezone=UTC</property> <!--url de nuestra BBDD-->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>


        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping class="Modelos.Autor"/>
        <mapping class="Modelos.Genero"/>
        <mapping class="Modelos.Libro"/>



    </session-factory>
</hibernate-configuration>